
.app-list .list-group-item {
  /*padding: 20px 35px 10px 35px;*/
  margin-top: 10px;
}

.search-panel .app-list {
    margin-top: 30px;
}

.app-list-item {
    background-color: #232c63;
    padding: 10px 20px;
    margin-bottom: 10px;
    align-items: center;
}

.search-panel  {
    margin-bottom: 30px;
}
